* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}
body,
html {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form {
  width: 25rem;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  text-align: center;
  border-radius: 0.3rem;
  box-shadow: 10px 15px 25px -2px black;

  animation: pop-in 1s;
}
header {
  font-family: "Economica", sans-serif;
  font-size: 4rem;
  background: linear-gradient(to left, #0f2027, #203a43, #2c5364);
  color: #f5f5f5;
  border-radius: 0.3rem 0.3rem 0 0;
}
.formData {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.remember {
  margin-left: 0.8rem;
  display: flex;
  align-items: center;
}
a {
  color: #2ecc71;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
input {
  font-size: 1rem;
  padding: 0.8rem;
  margin: 0.4rem 0;
}
input[type="checkbox"] {
  border: 2px solid #2ecc71;
  margin-left: 0.5rem;
}
input[type="text"],
input[type="password"] {
  margin: 0.5rem 0;
  border-radius: 0.5em;
  border: none;
  background-color: #c8e6c9;
  color: #37474f;
}
#submit {
  margin-top: 1 5rem;
  font-weight: 600;
  background: linear-gradient(to left, #0f2027, #203a43, #2c5364);
  border: 1px solid #2ecc71;
  border-radius: 0.6em;
  color: white;
  font-size: 1rem;
}
#submit:hover {
  color: #2ecc71;
  background-color: #2ecc71;
}
