* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.navbar-brand,
.btn,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Economica", sans-serif;
}
.avatar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border: 2px solid #17a2b8;
  border-radius: 50%;
  margin-right: 5px;
}
.or {
  position: absolute;
  background-color: white;
  padding: 0 1rem;
  font-weight: bold;
  top: 70.5%;
  left: 43%;
}
.intro {
  position: absolute;
  padding: 0 1rem;
  font-weight: bold;
  top: 70.5%;
}
.custom,
.intro {
  animation: slide-left 3s ease forwards;
}
.nav-item,
.card,
.btn,
tr {
  z-index: 999;
  transition: all 0.2s ease-in-out;
}
.nav-item:hover {
  transform: scale(1.1);
}
.btn:hover {
  transform: scale(1.1);
}
.forCardHover:hover {
  transform: scale(1.1);
}
tbody > tr:hover {
  transform: scale(1.01);
  background: white;
}
.intro {
  animation: slide-left 3s ease forwards;
}
#logo {
  position: absolute;
  top: 10%;
  animation: fill 1s ease forwards 1.5s;
}

#logo path:nth-child(1) {
  stroke-dasharray: 1992;
  stroke-dashoffset: 1992;
  animation: lineAnimation 3s ease forwards;
}
#logo path:nth-child(2) {
  stroke-dasharray: 1706;
  stroke-dashoffset: 1706;
  animation: lineAnimation 3s ease forwards;
}
#logo path:nth-child(3) {
  stroke-dasharray: 1494;
  stroke-dashoffset: 1494;
  animation: lineAnimation 3s ease forwards;
}
#logo path:nth-child(4) {
  stroke-dasharray: 1139;
  stroke-dashoffset: 1139;
  animation: lineAnimation 3s ease forwards;
}
#logo path:nth-child(5) {
  stroke-dasharray: 1494;
  stroke-dashoffset: 1494;
  animation: lineAnimation 3s ease forwards;
}
.social {
  cursor: pointer;
  color: black;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}
.social:hover {
  transform: scale(1.1);
}
#social-fb:hover {
  color: #3b5998;
}
#social-tw:hover {
  color: #4099ff;
}
#social-gp:hover {
  color: #d34836;
}
#social-em:hover {
  color: #f39c12;
}
.footer {
  animation: appear 3.5s ease forwards;
}

@keyframes lineAnimation {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #edf4fa;
  }
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
